
.signup {
    padding: 10px 0;
    margin-bottom: 10px;
    border: $border;
    @include flex(row);
    width: 350px;
    height: 63px;

    a {
        color: #2d9feb;
        text-decoration: none;
        font-weight: 700;
        margin-left: 5px;
    }
}