.main {
  @include flex(row);
  width: 935px;
  height: 650px;
  margin-top: 32px;
  padding-bottom: 32px;

  .section {
    width: 350px;
    height: 606px;
    margin-top: 12px;
    @include flex(column);
  }
}
