* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slideshow-section {
  background: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
  background-size: 454px 618px;
  height: 618px;
  width: 454px;
  margin-left: -35px;
  margin-right: -15px;
}

.slideshow-section div {
  margin: 99px 0 0 151px;
  position: relative;
}

.slideshow-section div img {
  height: 427px;
  width: 240px;
}

.container {
  background: #FFFFFF;
  border: #DBDBDB 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.login .wordmark {
  margin: 0 71px 0 71px;
  width: 205px;
  -o-object-fit: contain;
     object-fit: contain;
}

.login .login-form {
  width: 348px;
  margin-top: 24px;
}

.login .login-form input {
  width: 268px;
  height: 38px;
  margin: 0 40px 6px 40px;
  padding: 8px;
  background: #FAFAFA;
  border: #DBDBDB 1px solid;
  border-radius: 3px;
  text-align: center;
}

.login .login-form input:focus {
  outline: #DBDBDB 1px solid;
  outline-color: #aaa;
  text-align: left;
}

.login .login-form .login-btn {
  height: 30px;
  padding: 0;
  margin: 8px 40px;
  background: #B2DFFC;
  color: #fff;
  font-weight: 700;
  border: #DBDBDB 1px solid;
  border-radius: 3px;
}

.login .login-form .login-btn:hover {
  text-align: center;
}

.login .login-form .form-separator {
  margin: 10px 40px 18px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login .login-form .form-separator p {
  font-weight: 700;
  font-size: 13px;
  opacity: 0.5;
  margin: 0 18px;
  display: inline-block;
}

.login .login-form .form-separator span {
  display: inline-block;
  width: 106.25px;
  height: 1px;
  border: #DBDBDB 1px solid;
}

.login .login-form .login-facebook {
  margin: 8px 40px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #385185;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.login .login-form .login-facebook i {
  margin-right: 8px;
  font-size: 18px;
}

.login .forgot-password {
  margin: 12px 0;
  color: #385185;
  font-size: 14px;
  text-decoration: none;
}

.signup {
  padding: 10px 0;
  margin-bottom: 10px;
  border: #DBDBDB 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 350px;
  height: 63px;
}

.signup a {
  color: #2d9feb;
  text-decoration: none;
  font-weight: 700;
  margin-left: 5px;
}

.getapp {
  width: 350px;
  height: 102px;
}

.getapp p {
  margin: 10px 20px;
  padding-bottom: 10px;
  text-align: center;
}

.getapp .app-downloads {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.getapp .app-downloads a {
  margin-left: 8px;
}

.getapp .app-downloads img {
  width: 134px;
  height: 40px;
}

.footer {
  width: 100%;
  height: 151px;
  padding: 0 16px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #8e8e8e;
}

.footer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 8px;
}

.footer a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

.footer .third-line {
  margin-top: 16px;
}

.footer .third-line select {
  color: inherit;
  border: none;
  background: none;
  outline: none;
  width: 65px;
  margin-right: 16px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  width: 100%;
  padding: 0 150px;
}

.navbar .brand img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .search {
  width: 268px;
  height: 38px;
  margin: 0 40px 6px 40px;
  padding: 8px;
  background: #FAFAFA;
  border: #DBDBDB 1px solid;
  border-radius: 3px;
  text-align: center;
}

.navbar .search:focus {
  outline: #DBDBDB 1px solid;
  outline-color: #aaa;
  text-align: left;
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-links li {
  list-style: none;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.navbar .navbar-links i {
  color: #444;
  font-size: 30px;
  padding: 5px 0;
}

.navbar .navbar-links .profile {
  background-image: url("/assets/images/Hugh-Jackman.jpg");
  background-size: 40px;
  background-position: top;
  border-radius: 20px;
  border: 2px solid #8c378c;
  cursor: pointer;
}

.feeds-container {
  margin-top: 40px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feeds-container .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border: #DBDBDB 1px solid;
  margin-bottom: 20px;
}

.feeds-container .feed .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: #444;
  padding: 6px 12px;
}

.feeds-container .feed .head .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 700;
  font-size: 14px;
}

.feeds-container .feed .head .left .profile {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("/assets/images/Hugh-Jackman.jpg");
  background-size: 30px;
  background-position: top;
  border-radius: 15px;
}

.feeds-container .feed img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feeds-container .feed .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: #333;
  padding: 8px 0 8px 16px;
}

.feeds-container .feed .foot i {
  font-size: 24px;
  margin-right: 16px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 935px;
  height: 650px;
  margin-top: 32px;
  padding-bottom: 32px;
}

.main .section {
  width: 350px;
  height: 606px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */